<nav id="main-navigation">
  <% function recNav(navig) { %>
    <ul> 
      <% for ({title, link, sub_items} of navig) { %>
        <li>
            <a href="<%= link %>"><%= title %></a>
              <% if (sub_items)) {
                continue;
                } else { %>
                  <a href="<%= link %>"><span>&nbsp&nbsp</span></a>
                  <%recNav(sub_items); }%>       
        </li>
   <% } %>
</ul>
 <% }
  recNav(site.navigation) %>
</nav>

<nav>
<select id="mobile-nav">
  <% for ({title, link, sub_items} of site.navigation) { %>
    <option value="<%= title %>"><%= title %></option>
  <% } %>
</select>
<nav/>
